<div ng-controller="agentCtrl">
	<div ng-include="'views/mainmenu.html'"></div>
	<div class="page">
		<div class="page-header-gen">
			<div class="page-header-wrapper">
				<span class="fa fa-pie-chart"></span>Agents
				<div class="page-header-text">Reliez vos bouton a vos agents</div>
			</div>
		</div>
		<div class="page-nav">
			<div class="page-nav-wrapper">
				<div class="nav">
					<span class="fa fa-home"></span>Accueil<span class="fa fa-angle-right"></span>Agent
				</div>
			</div>
		</div>
		<div class="page-wrapper">
			<div class="page-row">
				<div class="page-col page-col-100">
				</div>
			</div>
		</div>
	</div>
</div>
