<div ng-controller="loginCtrl">
	<div id="signin-bg"></div>
	<div id="signin-logo">
		<img src="https://admin.snapcall.io/img/signin_logo.png" />
	</div>
	<div id="signin-box">
		<form ng-submit="submit()">
			<div id="mustache-test" style="text-align: center;color: white;font-size: 35px;"></div>
			<div id="signin-box-email">
				<input type="email" ng-model="email" name="email" class="input-xl" placeholder="Adresse email" required />
			</div>
			<div id="signin-box-password">
				<input type="password" ng-model="password" name="password" class="input-xl" placeholder="Mot de passe" required />
				<div class="signin-box-error" ng-show="loginError">Email et/ou mot de passe incorrect.</div>
			</div>
			<div id="signin-box-send">
				<input type="image" src="https://admin.snapcall.io/img/signin_btn.png" alt="Submit Form" />
			</div>
		</form>
		<a href="#/inscription" style="color: white">Vous n'avez pas de compte? Inscrivez vous!</a>
	</div>
	<div id="signin-mail">hello@snapcall.io</div>
	<div id="signin-brand">&copy;Seampl2017</div>
</div>
